.form_field {
    padding-top: 35px;
    position: relative;
}

.form_field_label {
    width: 100%;
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
}
.form_field_error {
    color: var(--red_color);
    font-size: 13px;
    margin: 2px 0 0;
}
.form_field_error:empty {
    display: none;
}
