.form_field {
    padding-top: 35px;
    position: relative;
}
.form_field_label {
    width: 100%;
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
}
.form_field_input {
    width: 100%;
    display: block;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    padding: 10px 10px;
    font-weight: 300;
    font-size: 16px;
}