.button {
    background: var(--main_color);
    color: var(--white_color);
    outline: none;
    border: none;
    border-radius: var(--radius);
    padding: 10px 10px;
    text-align: center;
    width: 100%;
    max-width: 360px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background: var(--main_color_dark);
}
