.chat {
    display: flex;
    min-height: 100vh;
}

.chat_list {
    flex: 0 0 var(--chat_list_with);
    max-width: var(--chat_list_with);
    background: var(--wrapper_color);
    padding: 10px 0;
    border-right: 1px solid var(--border_color);
    overflow: auto;
    height: 100vh;
}

.chat_list_head {
    padding: 0 10px;
}

.chat_list_head_profile {
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}

.chat_list_body {
    margin-top: 10px;
}
