.error {
    min-height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_content {
    max-width: 450px;
    text-align: center;
}

.error_description {
    margin-top: 10px;
}

.error_link {
    margin-top: 10px;
}

.error_link a {
    color: var(--main_color);
    text-decoration: none;
}
