{{#> Wrapper }}
    {{#> Box }}
        <div class="profile">
            <div class="profile_head">
                <img src="{{image}}" alt="{{full_name}}" class="profile_image"/>
                <h2 class="profile_name">{{full_name}}</h2>
            </div>
            <div class="profile_info">
                {{> ProfileRow prop="Имя" value="Игнат" }}
                {{> ProfileRow prop="Фамилия" value="Ёжиков" }}
                {{> ProfileRow prop="Почта" value="test@yandex.ru" }}
                {{> ProfileRow prop="Логин" value="mylogin" }}
                {{> ProfileRow prop="Имя в чате" value="i_yozh" }}
                {{> ProfileRow prop="Телефон" value="+7 (987) 654 32 11" }}
            </div>
            <div class="profile_info">
                {{#> Popup linkclass="profile_action" linkid="change_profile" linktext="Изменить данные"}}
                    <div class="profile_modal profile_edit">
                        <form action="/" method="post">
                            <div class="profile_edit_row">
                                <div class="profile_edit_colum">
                                    {{> Input type="text" name="first_name" label="Имя" required="required"}}
                                    {{> Input type="text" name="second_name" label="Фамилия" required="required"}}
                                    {{> Input type="text" name="display_name" label="Имя в чате" required="required"}}
                                    {{> Input type="text" name="login" label="Логин" required="required"}}
                                </div>
                                <div class="profile_edit_colum">
                                    {{> Input type="email" name="email" label="Почта" required="required"}}
                                    {{> Input type="text" name="phone" label="Телефон" required="required"}}
                                    {{> Input type="file" name="avatar" label="Аватар"}}
                                </div>
                            </div>
                            <div class="profile_edit_save">
                                {{> Button type="submit" id="button_save_profile" text="Сохрнить"}}
                            </div>
                        </form>
                    </div>
                {{/ Popup }}
                {{#> Popup linkclass="profile_action" linkid="change_password" linktext="Изменить пароль"}}
                    <div class="profile_modal profile_change_pass">
                        <form action="/" method="post">
                            {{> Input type="password" name="oldPassword" label="Старый пароль" required="required"}}
                            {{> Input type="password" name="newPassword" label="Новый пароль" required="required"}}
                            {{> Button type="submit" id="button_save_passworrd" text="Изменить пароль"}}
                        </form>
                    </div>
                {{/ Popup }}
                <div class="profile_action profile_logout nav_list_item" data-link="Auth" id="profile_logout">Выйти</div>
            </div>
        </div>
    {{/ Box }}
{{/ Wrapper }}