{{#> Wrapper }}
    {{#> Box }}
        {{> Input type="email" name="email" label="Почта" required="required"}}
        {{> Input type="text" name="login" label="Логин" required="required"}}
        {{> Input type="text" name="first_name" label="Имя" required="required"}}
        {{> Input type="text" name="second_name" label="Фамилия" required="required"}}
        {{> Input type="text" name="phone" label="Телефон" required="required"}}
        {{> Input type="password" name="password" label="Пароль" required="required"}}
        {{> Input type="password" name="password2" label="Пароль (ещё раз)" required="required"}}
        {{> Button type="submit" id="button_registration" text="Зарегистрироваться"}}
        <div class="form_field_link">
            <a href="#" class="form_field_link_auth nav_list_item" data-link="Auth">Войти</a>
        </div>
    {{/ Box }}
{{/ Wrapper }}