<div class="error">
    <div class="error_content">
        <h1 class="main_title error_title">{{title}}</h1>
        <p class="error_description">{{description}}</p>
        <p class="error_link"><a href="#" class=" nav_list_item" data-link="Auth">Вернуться</a></p>
    </div>
</div>
