.chat_list_head_search {
    padding: 10px 0;
    position: relative;
}

.chat_list_head_search_input {
    background: var(--gray_color);
    padding: 7px 10px;
    font-size: 13px;
}

.chat_list_head_search_result {
    position: absolute;
    z-index: 100;
    background: var(--white_color);
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid var(--border_color);
    border-radius: var(--radius);
}
