.profile_info_row {
    display: flex;
    place-content: center space-between;
    font-size: 14px;
    border-bottom: 1px solid var(--border_color);
    padding: 10px 0;
}

.profile_info_row_prop {
    font-weight: bold;
}
