.nav {

}
.nav_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav_list_item {
    list-style: none;
}
.nav_list_item_link {
    color: var(--highlighted-color);
    text-decoration: none;
    display: block;
    padding: 10px 10px;
}
.nav_list_item_link.active {
    color: var(--main_color);
}
